:root {
	--rojo: #E50914;
	--fondo: #141414;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	margin: auto;
}
/* ---- ----- ----- navBar ----- ----- ----- */

.navigation{
	position: absolute;
	z-index: 600;
	width: 100%;

}
.navbar{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5em 3em;
	background: linear-gradient(180deg, rgba(5,5,5,1) 10%, rgba(0, 0, 0, 0.5) 60%, rgba(255,255,255,0) 100%);

}
.navbar-brand{
	display: flex;
	align-items: center;
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;
}

.navbar-brand img{
	margin-right: .3em;
}


.search-input{
	color: #fff;
	margin-right: .6em;
	padding: .5em;
	border: 1px solid rgb(0, 0, 0);
	background-color: rgb(26, 25, 25);
	border-radius: 5px;
	outline: 0;
}
.search-button{
	color: #fff;
	cursor: pointer;
	padding: .5em;
	border:1px solid #E50914 ;
	background-color: rgba(0, 0, 0, 0.295);
	border-radius: 5px;
}



/* ---- ----- ----- Header Principal ----- ----- ----- */
.carousel-header{
	position: relative;
	margin-bottom: 70px;
	overflow: hidden;
}

.carousel-header .carousel-inner{
	min-width: 100vw;
	overflow: hidden;	
}

.carousel-header .carousel-inner .carousel{	
	display: flex;
	flex-wrap: nowrap;
}

.carousel-header .carousel-inner .carousel-header-item{
	min-width: 100vw;	
	position:relative;
	

}
.carousel-header .carousel-inner .carousel-header-item img{
	vertical-align: top;
	margin: 0;
	width: 100vw;
	height: 80vh;
	filter: brightness(.6);
	
}

.header-caption{
	position:absolute;
	z-index: 500;
	top: 70%;
	left: 10%;
	color: #fff;
	line-height: 1.6em;
	max-width: 45%;
	margin-bottom: 1.25em;
	overflow: hidden;
	display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
	
}
.header-caption .header-title{
	margin-bottom: .5em;
}




/*---------------flechas header-----------------*/
.carousel-header .flecha-derecha, 
.carousel-header .flecha-izquierda{
	position: absolute;
	border: none;
	background: rgba(0, 0, 0, 0.178);
	font-size: 40px;
	height: 80%;
	top: 15%;
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .3s ease all;
	outline: 0;

}

.carousel-header .flecha-derecha{
	right: 0;
}
.carousel-header .flecha-izquierda{
	left: 0;
}

.carousel-header .flecha-derecha:hover, 
.carousel-header .flecha-izquierda:hover{
	background: rgba(0,0,0, .5);

}


/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.contenedor-titulo-controles h3 {
	color: #fff;
	font-size: 30px;
}



/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
	margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 30%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
	outline: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
	left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
	min-width: calc( 20% - .2em);
	margin-right: .2em;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula:hover {
	transform: scale(1.2);
	transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
	width: 100%;
	height: 22em;
	vertical-align: top;
}

